body {
	font-family: Arial, sans-serif;
	background-image: url("/gfx/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	height: 100%;
}

.container-fluid {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Header styles */
header {
	background-color: #007bff;
	color: white;
}

/* Main content area styles */
.row {
	flex: 1;
	padding: 0 12px;
}

/* Vertical menu styles */
.sidebar {
	background-color: #606466;
	/* Dark background color */
	color: white;
	opacity: 0.8;
	padding: 10px;
}

.nav-link {
	color: white;
	font-size: 18px;
	/* Larger font size */
	padding: 10px 15px;
	/* Increased padding for separation */
}

.nav-link.active {
	background-color: #3d4349;
}

.nav-link.active:hover {
	background-color: #3d4349;
	/* Keep the same background color when active and hovered */
}

.nav-link:hover:not(.active) {
	background-color: #495057;
	/* Apply hover style only when not active */
}

.nav-item {
	border-top: 1px solid #495057;
	/* Separator line between items */
}

.nav-item:first-child {
	border-top: none;
	/* Remove separator line for the last item */
}

.navbar-brand {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 28px;
	color: rgba(255, 255, 255, 1);
}

.navbar-brand:hover {
	color: rgba(255, 255, 255, 1);
}

.navbar .navbar-toggler {
	top: 0.25rem;
	right: 1rem;
}

section {
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
}

.userwelcome {
	padding-right: 10px;
	font-size: 18px;
}

.dropdown-item:active {
	background-color: #ffffff;
}

.preferencesDropdown {
	color: #ffffff;
	text-decoration: none;
}

.languageDropdown {
	color: var(--bs-body-color);
	text-decoration: none;
}

/* MOBILE CSS*/
@media (max-width: 992px) {
	.contentContainer {
		padding: 0;
	}

	.hideOnMobile {
		display: none;
	}

	footer {
		margin-top: 0.5rem;
	}
}

/* DESKTOP CSS*/
@media (min-width: 992px) {
	header {
		border-radius: 0 0 10px 0;
	}

	.hideOnDesktop {
		display: none;
	}
}
.edit-card-btn {
	padding: 0; /* Remove padding */
	width: auto; /* Adjust width to fit the icon */
	height: auto; /* Adjust height to fit the icon */
	background: transparent; /* Remove background if any */
	border: none; /* Remove border */
}
.edit-card-btn i {
	font-size: 16px;
	padding: 4px;
	color: #6c757d;
}

.edit-card-btn:hover i {
	color: #5c636a;
}

.scrollable-toast-body {
    max-height: 80vh; /* 80% of the viewport height */
    overflow-y: auto; /* Make it scrollable */
}
