.viewContent {
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
}

/* Style for making the checkbox bigger */
.large-checkbox {
	width: 20px;  /* Increase the width */
	height: 20px; /* Increase the height */
	transform: scale(1.5); /* Scale the checkbox */
	margin-right: 10px; /* Add some margin to the right */
  }
  
  /* Optional: adjust the label to align with the larger checkbox */
  .form-check-label {
	vertical-align: middle;
  }

  @keyframes blink {
	50% {
	  opacity: 0.0;
	}
  }
  .blink {
	animation: blink 1s step-start 0s infinite;
  }

.number-display-conent {
	font-size: 2rem; /* Base font size for smaller values */
	font-weight: bold;
	margin: 0;
	color: #333; /* Default color for the number */
	white-space: nowrap; /* Prevents the text from wrapping */
	overflow: hidden; /* Ensures overflow is hidden */
	display: inline-block; /* Allow number to resize and fit with suffix */
}

.suffix {
	font-size: 2rem; /* Slightly smaller than the number */
	font-weight: normal; /* Normal weight for the suffix */
	color: #353535; /* Lighter color for the suffix */
	margin-left: 8px; /* Adds space between the number and suffix */
}

/* Increase the size of the switch */
.switch-container .form-check-input {
	width: 112px; /* Increased width of the switch */
	height: 64px; /* Increased height of the switch */
}

/* Increase the size of the round slider (circle inside the switch) */
.switch-container .form-check-input:checked .slider {
	width: 112px; /* Match the width of the switch */
	height: 64px; /* Match the height of the switch */
}

/* Adjust the slider's circle size when it's checked */
.switch-container .form-check-input:checked .slider:before {
	width: 52px; /* Increased size of the circle */
	height: 52px; /* Increased size of the circle */
	transform: translateX(60px); /* Adjust the position of the circle */
}
