.lamp-style {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.lamp-body {
	width: 60px;
	height: 60px;
	background-color: #f0f0f0;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #ccc;
	transition:
		background-color 0.3s ease,
		border-color 0.3s ease;
}

.lamp-body.on {
	background-color: #ffeb3b; /* Yellow for "on" state */
	border-color: #fbc02d; /* Darker yellow border for "on" */
}

.lamp-body.off {
	background-color: #cccccc; /* Grey for "off" state */
	border-color: #9e9e9e; /* Darker grey border for "off" */
}

.viewContent {
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
}

.number-display-conent {
	font-size: 2rem; /* Base font size for smaller values */
	font-weight: bold;
	margin: 0;
	color: #333; /* Default color for the number */
	white-space: nowrap; /* Prevents the text from wrapping */
	overflow: hidden; /* Ensures overflow is hidden */
	display: inline-block; /* Allow number to resize and fit with suffix */
}

.suffix {
	font-size: 2rem; /* Slightly smaller than the number */
	font-weight: normal; /* Normal weight for the suffix */
	color: #353535; /* Lighter color for the suffix */
	margin-left: 8px; /* Adds space between the number and suffix */
}

/* Increase the size of the switch */
.switch-container .form-check-input {
	width: 112px; /* Increased width of the switch */
	height: 64px; /* Increased height of the switch */
}

/* Increase the size of the round slider (circle inside the switch) */
.switch-container .form-check-input:checked .slider {
	width: 112px; /* Match the width of the switch */
	height: 64px; /* Match the height of the switch */
}

/* Adjust the slider's circle size when it's checked */
.switch-container .form-check-input:checked .slider:before {
	width: 52px; /* Increased size of the circle */
	height: 52px; /* Increased size of the circle */
	transform: translateX(60px); /* Adjust the position of the circle */
}
